{% extends "FapescTutorialBundle:Usuario:index.html.twig" %}

{% block title "Bolsistas" %}

{% block content %}
<div id="content">
	<div id="sidebar">
		<a id="projects-button" href="{{ path('bolsista', { 'idBolsista': 0 }) }}" title="Adicionar bolsista">+ Adicionar Bolsista</a><br /><br />
		<p><b>Instruções:</b><br /><br />Clique no nome do bolsista para editar seus dados cadastrais ou em "Adicionar Bolsista" para iniciar um novo cadastro.<br /><br />Observe que a base de dados de bolsistas constitui-se um cadastro unificado para todos os projetos gerenciados por esta plataforma, não sendo possível, assim, excluir registros, mas apenas alterá-los.</p>
	</div><!-- #sidebar -->
	<div id="main-content">
		<h1>:: Bolsistas</h1>
		<table id="budget-pledged" class="form" width="90%" cellspacing="5" cellpadding="5">
			<tr>
				<th>Nome</th>
				<th>CPF</th>
				<th>Tipo</th>
			</tr>
			{% for bolsista in bolsistas %}
			<tr>
				<td><a href="{{ path('bolsista', { 'idBolsista': bolsista.idBolsista }) }}" title="Clique para editar dados do bolsista">{{ bolsista.nome }}</a></td>
				<td>{{ bolsista.cpf }}</td>
				<td>{{ bolsista.tipos[bolsista.tipo] }}</td>
			</tr>
			{% else %}
			<tr>
				<td colspan="3">Nenhum bolsista...</td>
			</tr>
			{% endfor %}
		</table>
	</div><!-- #main-content -->
</div><!-- #content -->
{% endblock %}