{% extends "FapescTutorialBundle:Usuario:index.html.twig" %}

{% block title "Bolsista" %}

{% block content %}
<script type="text/javascript">
    jQuery(function($){
        $(".cpf").mask("999.999.999-99");
        $(".uf").mask("aa");
        $(".cep").mask("99999-999");
        $(".fone").mask("(99) 9999-9999");
    });
    $(document).ready(function(){
        $("form").validate({
            rules: {
                nome: "required",
                cpf: "required",
                instituicao: "required",
                matricula: "required",
                endereco: "required",
                cidade: "required",
                uf: "required",
                cep: "required",
                email: {
                    required: true,
                    email: true
                },
                telefone: "required",
                celular: "required",
                banco: "required",
                conta: "required",
                agencia: "required"
            },
            messages: {
                nome: "Digite o nome",
                cpf: "Digite o CPF",
                instituicao: "Digite a instituição",
                matricula: "Digite a matrícula",
                endereco: "Digite o endereço",
                cidade: "Digite a cidade",
                uf: "Digite a UF",
                cep: "Digite o CEP",
                email: {
                    required: "Digite o email",
                    email: "Digite um email válido"
                },
                telefone: "Digite o telefone",
                celular: "Digite o celular",
                banco: "Digite o banco",
                conta: "Digite a conta",
                agencia: "Digite a agência"
            }
        });
    });
</script>
<div id="content">
    <div id="sidebar">
        <p><b>Instruções:</b><br /><br />Posicione o ponteiro do mouse por alguns instantes sobre cada campo para obter instruções complementares acerca de seu preenchimento.<br /><br />Todos os campos são de preenchimento obrigatório.</p>
    </div><!-- #sidebar -->
    <div id="main-content">
        <form class="" action="{{ path('bolsistaPost', { 'idBolsista': idBolsista }) }}" method="POST">
            <fieldset>
                <legend>Bolsista</legend>
                <div class="coluna3c">
                    <label>Nome:</label>
                    <input type="text" name="nome" value="{{ nome }}" title="Nome do bolsista." />
                </div>
                <div class="coluna3">
                    <label>CPF:</label>
                    <input type="text" class="cpf" name="cpf" value="{{ cpf }}" title="CPF do bolsista." />
                </div>
                <div>
                    <label>Instituição de Vínculo:</label>
                    <input type="text" name="instituicao" value="{{ instituicao }}" title="Informe a instituição de vínculo do bolsista." />
                </div>
                <div class="coluna2">
                    <label>Tipo: </label>
                    <select name="tipo">
                        {% for item in tipoSelect %}
                        <option value="{{ item.value }}" {% if item.value == tipo %} selected="selected" {% endif %}>{{ item.text }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="coluna2">
                    <label>Matrícula:</label>
                    <input type="text" name="matricula" value="{{ matricula }}" title="Informe a matrícula com a instituição de vínculo." />
                </div>
                <div>
                    <label>Endereço:</label>
                    <input type="text" name="endereco" value="{{ endereco }}" title="Informe o endereço do bolsista:" />
                </div>
                <div class="coluna2">
                    <label>Cidade:</label>
                    <input type="text" name="cidade" value="{{ cidade }}" title="Informe a cidade do bolsista." />
                </div>
                <div class="coluna4">
                    <label>UF:</label>
                    <input type="text" class="uf" name="uf" value="{{ uf }}" title="Informe o estado do bolsista." />
                </div>
                <div class="coluna4">
                    <label>CEP:</label>
                    <input type="text" class="cep" name="cep" value="{{ cep }}" title="Informe o cep do bolsista." />
                </div>
                <div>
                    <label>Email:</label>
                    <input type="text" name="email" value="{{ email }}" title="Informe o e-mail de contato com o bolsista." />
                </div>
                <div class="coluna2">
                    <label>Telefone:</label>
                    <input type="text" name="telefone" class="fone" value="{{ telefone }}" title="Informe o número do telefone de contato do bolsista." />
                </div>
                <div class="coluna2">
                    <label>Celular:</label>
                    <input type="text" name="celular" class="fone" value="{{ celular }}" title="Informe o número do celular de contato do bolsista." />
                </div>
                <div class="coluna3">
                    <label>Banco:</label>
                    <input type="text" name="banco" value="{{ banco }}" title="Informe o número do banco." />
                </div>
                <div class="coluna3">
                    <label>Conta:</label>
                    <input type="text" name="conta" value="{{ conta }}" title="Informe o número da conta do bolsista." />
                </div>
                <div class="coluna3">
                    <label>Agência:</label>
                    <input type="text" name="agencia" value="{{ agencia }}" title="Informe o número da agência do bolsista." />
                </div>
            </fieldset>
            <div>
                <input type="submit" value="Salvar" />
            </div>
        </form>
    </div><!-- #main-content -->			
</div><!-- #content -->
{% endblock %}