{% extends "FapescTutorialBundle:Usuario:index.html.twig" %}

{% block title "Fornecedores" %}

{% block content %}
<div id="content">
	<div id="sidebar">
		<a id="projects-button" href="{{ path('fornecedor', { 'idFornecedor': 0 }) }}" title="Adicionar fornecedor">+ Adicionar Fornecedor</a><br /><br />
		<p><b>Instruções:</b><br /><br />Clique no nome do fornecedor para editar informações de um registro em específico ou em "Adicionar Fornecedor" para iniciar um novo cadastro.</p>
	</div><!-- #sidebar -->
	<div id="main-content">
		<h1>:: Fornecedores</h1>
		<table id="budget-pledged" class="form" width="90%" cellspacing="5" cellpadding="5">
			<tr>
				<th>Nome</th>
				<th>Tipo</th>
				<th>CPF/CNPJ</th>
			</tr>
			{% for fornecedor in fornecedores %}
			<tr>
				<td><a href="{{ path('fornecedor', { 'idFornecedor': fornecedor.idFornecedor }) }}" title="Clique para editar dados do fornecedor">{{ fornecedor.nome }}</a></td>
				<td>{{ fornecedor.tipos[fornecedor.tipo] }}</td>
				<td>{{ fornecedor.cadastro }}</td>
			</tr>
			{% else %}
			<tr>
				<td colspan="4">Nenhum fornecedor...</td>
			</tr>
			{% endfor %}
		</table>
	</div><!-- #main-content -->
</div><!-- #content -->
{% endblock %}