<script type="text/javascript">
	jQuery(function($){
	   $("#cpf").mask("999.999.999-99");
	   $("#cep").mask("99999-999");
	   $("#fone").mask("(99) 9999-9999");
	});
	$().ready(function() {
		$("form").validate({
			rules: {
				cpf: "required",
				nome: "required",
				instituicao: "required",
				endereco: "required",
				municipio: "required",
				uf: "required",
				cep: "required",
				email: {
					required: true,
					email: true
				},
				fone: "required"
			},
			messages: {
				cpf: "Digite o CPF",
				nome: "Digite o nome",
				instituicao: "Digite a instituição",
				endereco: "Digite o endereço",
				municipio: "Digite o município",
				uf: "Digite a UF",
				cep: "Digite o CEP",
				email: {
					required: "Digite o email",
					email: "Digite um email válido"
				},
				fone: "Digite o fone"
			}
		});
	});
</script>
<form class="form-container" action="{{ action }}" method="POST">
	<table class="form">
		<tr><td>CPF:<br /><input type="text" id="cpf" name="cpf" title="Aqui, insira apenas números." size="14" value="{{ cpf }}" /></td></tr>
		<tr><td>Nome Completo:<br /><input type="text" name="nome" title="Entre com seu nome completo, sem abreviaturas." maxlength="150" size="50" value="{{ nome }}" /></td></tr>
		<tr><td>Instituição de vínculo:<br /><input type="text" name="instituicao" title="Entre com o nome completo da instituição, sem abreviaturas."  maxlength="200" size="50" value="{{ instituicao }}" /></td></tr>
	</table>
	<table class="form">
		<tr><td colspan="3">Endereço correspondência:<br /><input type="text" name="endereco" title="Logradouro, Número, Complemento, etc."  maxlength="200" size="60" value="{{ endereco }}" /></td></tr>
		<tr>
			<td>Município:<br /><input type="text" name="municipio" title="Entre com o nome do município ou distrito, sem abreviaturas." maxlength="50" size="31" value="{{ municipio }}" /></td>
			<td>UF:<br /><input type="text" name="uf" title="Digite o código da Unidade Federativa." size="2" maxlength="2" value="{{ uf }}" /></td>
			<td>CEP:<br /><input type="text" id="cep" name="cep" title="Aqui, insira apenas números" size="9" value="{{ cep }}" /></td>
		</tr>
	</table>
	<table class="form">
		<tr><td colspan="2">E-mail:<br /><input type="text" name="email" title="Preencha este campo com atenção! Seu e-mail será necessário em caso da necessidade de recuperação da senha de acesso ao sistema." maxlength="50" size="38" value="{{ email }}" /></td></tr>
		<tr>
			<td>Fone:<br /><input type="text" id="fone" name="fone" title="Aqui, insira apenas números: DDD + Telefone" size="14" value="{{ fone }}" /></td>
		</tr>
	</table>
	<table class="submit">
		<tr><td><input type="submit" value="Salvar" title="" /></td></tr>
	</table>
</form>