{% extends "FapescTutorialBundle:Usuario:index.html.twig" %}

{% block title "Pesquisadores" %}

{% block content %}
<div id="content">
	<div id="sidebar">
		<a id="projects-button" href="{{ path('pesquisador', { 'idPesquisador': 0 }) }}" title="Adicionar pesquisador">+ Adicionar Pesquisador</a><br /><br />
		<p>---</p>
	</div><!-- #sidebar -->
	<div id="main-content">
		<h1>:: Pesquisadores</h1>
		<table id="budget-pledged" class="form" width="90%" cellspacing="5" cellpadding="5">
			<tr>
				<th>Nome</th>
				<th>CPF</th>
				<th>Instituição</th>
			</tr>
			{% for pesquisador in pesquisadores %}
			<tr>
				<td><a href="{{ path('pesquisador', { 'idPesquisador': pesquisador.idPesquisador }) }}" title="Clique para editar dados do pesquisador">{{ pesquisador.nome }}</a></td>
				<td>{{ pesquisador.cpf }}</td>
				<td>{{ pesquisador.instituicao }}</td>
			</tr>
			{% else %}
			<tr>
				<td colspan="3">Nenhum pesquisador...</td>
			</tr>
			{% endfor %}
		</table>
	</div><!-- #main-content -->
</div><!-- #content -->
{% endblock %}