{% extends "FapescTutorialBundle:Usuario:index.html.twig" %}

{% block title "Pesquisador" %}

{% block content %}
<script type="text/javascript">
    jQuery(function($){
        $("#cpf").mask("999.999.999-99");
        $("#cnpj").mask("99.999.999/9999-99");
        $("#cep").mask("99999-999");
        $(".fone").mask("(99) 9999-9999");
    });
    $(document).ready(function(){
        $("form").validate({
            rules: {
                nome: "required",
                cpf: "required",
                pis: "required",
                instituicao: "required",
                cnpj: "required",
                endereco: "required",
                cidade: "required",
                uf: "required",
                cep: "required",
                email: {
                    required: true,
                    email: true
                },
                telefone: "required",
                celular: "required"
            },
            messages: {
                nome: "Digite o nome",
                cpf: "Digite o CPF",
                pis: "Digite o PIS",
                instituicao: "Digite a instituição",
                cnpj: "Digite o CNPJ",
                endereco: "Digite o endereço",
                cidade: "Digite a cidade",
                uf: "Digite a UF",
                cep: "Digite o CEP",
                email: {
                    required: "Digite o email",
                    email: "Digite um email válido"
                },
                telefone: "Digite o telefone",
                celular: "Digite o celular"
            }
        });
    });
</script>
<div id="content">
    <div id="sidebar">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec magna magna, porttitor a ornare quis, interdum quis massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <br /><br />Integer in commodo tellus. Suspendisse lobortis lacinia felis, ut laoreet ipsum posuere sed. Ut placerat volutpat luctus. <br /><br />Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec velit diam, tincidunt sed ultricies vel, scelerisque et ligula.</p>
    </div><!-- #sidebar -->
    <div id="main-content">
        <h1>:: Pesquisador</h1>
        <form class="form-container" action="{{ path('pesquisadorPost', { 'idPesquisador': idPesquisador }) }}" method="POST">
            <table class="form" width="90%">
                <tr>
                    <td>Nome:<br /><input type="text" name="nome" value="{{ nome }}" title="Nome do pesquisador." size="50" /></td>
                    <td>CPF:<br /><input type="text" id="cpf" name="cpf" value="{{ cpf }}" title="CPF do pesquisador." size="20" /></td>
                    <td>PIS:<br /><input type="text" name="pis" value="{{ pis }}" title="PIS do pesquisador." size="20" /></td>
                </tr>
            </table>
            <table class="form" width="90%">
                <tr>
                    <td width="15%">Instituição de Vínculo:<br /><input type="text" name="instituicao" value="{{ instituicao }}" title="Informe a instituição de vínculo do pesquisador." size="35" /></td>
                    <td>CNPJ:<br /><input type="text" id="cnpj" name="cnpj" value="{{ cnpj }}" title="CNPJ da instituição." size="20" /></td>
                </tr>
            </table>
            <table class="form" style="border-bottom: #DDD dotted 0px; margin-bottom: 0px; padding-bottom: 5px;" width="90%">
                <tr>
                    <td width="35%">Endereço:<br /><input type="text" name="endereco" value="{{ endereco }}" title="Informe o endereço do pesquisador:" size="25" /></td>
                    <td>Cidade:<br /><input type="text" name="cidade" value="{{ cidade }}" title="Informe a cidade do pesquisador." size="20" /></td>
                    <td>UF:<br /><input type="text" name="uf" value="{{ uf }}" title="Informe o estado do pesquisador." size="2" /></td>
                    <td>CEP:<br /><input type="text" id="cep" name="cep" value="{{ cep }}" title="Informe o cep do pesquisador." size="18" /></td>
                </tr>
            </table>
            <table class="form" width="90%">
                <tr>
                    <td width="30%">Email:<br /><input type="text" name="email" value="{{ email }}" title="Informe o e-mail de contato com o pesquisador." size="35" /></td>
                    <td width="10%">Telefone:<br /><input type="text" name="telefone" class="fone" value="{{ telefone }}" title="Informe o número do telefone de contato do pesquisador." size="12" /></td>
                    <td width="30%">Celular:<br /><input type="text" name="celular" class="fone" value="{{ celular }}" title="Informe o número do celular de contato do pesquisador." size="12" /></td>
                </tr>
            </table>
            <table class="submit" width="90%">
                <tr>
                    <td><input type="submit" value="Salvar" title="" /></td>
                </tr>
            </table>
        </form>
    </div><!-- #main-content -->			
</div><!-- #content -->
{% endblock %}