<script type="text/javascript">
    jQuery(function($){
        $("#data").mask("99/99/9999");
        $('#unitario').priceFormat({
            prefix: '',
            centsSeparator: ',',
            thousandsSeparator: '.'
        });
        $('#total').priceFormat({
            prefix: '',
            centsSeparator: ',',
            thousandsSeparator: '.'
        });
    });
    function calcula() {
        $("#total").val($("#quantidade").val().replace(/[^0-9]+/g,"") * $("#unitario").val().replace(/[^0-9]+/g,"")).priceFormat({prefix: '', centsSeparator: ',', thousandsSeparator: '.'});
    }
    $(document).ready(function(){
        $(".trigger").keyup(function(){
            calcula();
        });
        $("form").validate({
            rules: {
                descricao: "required",
                unidade: "required",
                quantidade: "required",
                unitario: "required",
                total: "required",
                documento: "required",
                data: "required",
                comprovante: "required"
            },
            messages: {
                descricao: "Digite a descrição",
                unidade: "Digite a unidade",
                quantidade: "Digite a quantidade",
                unitario: "Digite o valor unitário",
                total: "Digite o valor total",
                documento: "Digite o documento fiscal/recibo",
                data: "Digite a data",
                comprovante: "Digite o comprovante"
            }
        });
    });
</script>
<form class="form-container" action="{{ action }}" method="POST">
    <table class="form">
        <tr>
            <td>Fornecedor:<br />
                <select name="fornecedor">
                    {% for item in fornecedores %}
                    <option value="{{ item.idFornecedor }}" {% if item.idFornecedor == fornecedor.idFornecedor %} selected="selected" {% endif %}>{{ item.nome }} - {{  item.cadastro }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>					
    </table>
    <table class="form">
        <tr>
            <td>Descrição do serviço:<br /><input type="text" name="descricao" title="Descrição do serviço a ser empenhado, conforme recibo ou documento fiscal." value="{{ descricao }}"/></td>
        </tr>
    </table>
    <table class="form">
        <tr>
            <td width="15%">Unidade:<br /><input type="text" name="unidade" title="Informe a unidade de quantificação do serviço (ex: mês, horas, dias, etc)." value="{{ unidade }}" /></td>
            <td width="5%">Quantidade:<br /><input type="text" name="quantidade" id="quantidade" class="trigger" title="Informe a quantidade de serviços adquiridos." value="{{ quantidade }}"/></td>
            <td width="15%">Valor unitário:<br /><input type="text" name="unitario" id="unitario" class="trigger" title="Informe o valor unitário do serviço." value="{{ unitario }}" /></td>
            <td width="50%">Valor total:<br /><input type="text" name="total" id="total" title="Informe o valor total do serviço, conforme recibo ou documento fiscal." value="{{ total }}"/></td>
        </tr>
    </table>
    <table class="form">
        <tr>
            <td width="10%">Documento fiscal / Recibo:<br /><input type="text" name="documento" title="Informe o número do recibo ou documento fiscal." value="{{ documento }}"/></td>
            <td width="10%">Data de emissão:<br /><input type="text" name="data" id="data" title="Informe a data de emissão do recibo ou documento fiscal." /></td>
            <td width="50%">Comprovante de transação:<br /><input type="text" name="comprovante" title="Informe o número do cheque o comprovante eletrônico de transação." value="{{ comprovante }}"/></td>
        </tr>
    </table>
    <table class="submit">
        <tr>
            <td><input type="submit" value="Salvar" title="" /></td>
        </tr>
    </table>
</form>