{% extends "FapescTutorialBundle:Fapesc:info.html.twig" %}

{% block title "Contrapartidas - Salários e Encargos" %}

{% block content %}
<script type="text/javascript">
    jQuery(function($){
        $(".data").mask("99/99/9999");
        $(".dinheiro").priceFormat({ prefix: '', centsSeparator: ',', thousandsSeparator: '.' });
    });
    $(document).ready(function(){
        $("form").validate({
            rules: {
                carga: "required",
                data: "required",
                bruto: "required",
                proporcional: "required"
            },
            messages: {
                carga: "Digite a carga horária",
                data: "Digite o período de referência",
                bruto: "Digite o vencimento bruto",
                proporcional: "Digite o valor proporcional"
            }
        });
    });
</script>
<div id="content">
    <div id="sidebar">
        <a id="projects-button" href="{{ path('pesquisadores') }}" title="Gerenciar pesquisadores">& Gerenciar Pesquisadores</a><br /><br />
        <p>---</p>
    </div><!-- #sidebar -->
    <div id="main-content">
        <form class="" action="{{ path('relatorioContrapartidaSalarioPost', { 'idRelatorio': idRelatorio, 'idContrapartida': idContrapartida }) }}" method="POST">
            <fieldset>
                <legend>Salários e Encargos</legend>
                <div>
                    <label>Pesquisador:</label>
                    <select name="pesquisador">
                        {% for item in pesquisadores %}
                        <option value="{{ item.idPesquisador }}" {% if item.idPesquisador == pesquisador.idPesquisador %} selected="selected" {% endif %}>{{ item.nome }} - {{  item.cpf }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="coluna2">
                    <label>Carga Horária: (horas)</label>
                    <input type="text" name="carga" value="{{ carga }}" />
                </div>
                <div class="coluna2">
                    <label>Data de Pagamento:</label>
                    <input type="text" class="data" name="data" value="{{ data }}" />
                </div>
                <div class="coluna2">
                    <label>Vencimento Bruto: (R$)</label>
                    <input type="text" class="dinheiro" name="bruto" value="{{ bruto }}" />
                </div>
                <div class="coluna2">
                    <label>Valor Proporcional: (R$)</label>
                    <input type="text" class="dinheiro" name="proporcional" value="{{ proporcional }}" />
                </div>
            </fieldset>		
            <div>
                <input type="submit" value="Salvar" />
            </div>
        </form>			
    </div><!-- #main-content -->			
</div><!-- #content -->
{% endblock %}