{% extends "FapescTutorialBundle:Fapesc:info.html.twig" %}

{% block title "Relatório Técnico - Dados Iniciais" %}

{% block content %}
<script type="text/javascript">
    jQuery(function($){
        $(".data").mask("99/99/9999");
        $("#valor").priceFormat({ prefix: '', centsSeparator: ',', thousandsSeparator: '.' });
    });
    $().ready(function() {
        $("form").validate({
            rules: {
                nota: "required",
                liberacao: "required",
                vigencia: "required",
                valor: "required",
            },
                messages: {
                nota: "Digite a nota de liquidação",
                liberacao: "Digite a data de liberação",
                vigencia: "Digite a data de vigência",
                valor: "Digite o valor",
            }
        });
    });
</script>
<div id="content">
    <div id="sidebar">
        <p><b>Instruções:</b><br /><br />Deve-se proceder uma prestação de contas distinta para cada Nota de Liberação existente.<br /><br />Cada Nota de Liberação possui um número de identificação, um tipo (custeio ou capital), um valor contigenciado e uma data de liberação dos recursos. Tais informações estão contidas no e-mail "Comunicado de Repasse", enviado ao coordenador do projeto pela Gerência de Projetos da FAPESC.<br /><br />Como "custeio", entende-se a aplicação dos recursos na contratação de serviços em geral, pagamento de bolsas, compra de material de consumo, bem como passagens e diárias.  Dispêndios com equipamentos, mobiliário e bibliografia são caracterizados como de "capital".<br /><br />Se a Nota de Liberação se refere ao último dos empenhos previstos na proposta de trabalho, deve-se definir o "Tipo de relatório" como final.<br /><br />O preenchimento de todos os campos desta seção é obrigatório.</p>
    </div><!-- #sidebar -->
    <div id="main-content">
        <form class="" action="{{ path('relatorioDadosPost', { 'idRelatorio': idRelatorio }) }}" method="POST">
            <fieldset class="">
                <legend>Dados do relatório</legend>
                <div class="coluna3c">
                    <label>Projeto:</label>
                    <select name="projeto" title="Selecione o projeto aque se refere este relatório.">
                        {% for item in projetos %}
                        <option value="{{ item.idProjeto }}" {% if item.idProjeto == projeto %} selected="selected" {% endif %}>{{ item.titulo }} ({{ item.inicio }} - {{ item.termino }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="coluna3">
                    <label>Tipo de relatório:</label>
                    <select name="tipo" title="Selecione o tipo de relatório.">
                        {% for item in tipoSelect %}
                        <option value="{{ item.value }}" {% if item.value == tipo%} selected="selected" {% endif %}>{{ item.text }}</option>
                        {% endfor %}
                    </select>
                </div>
            </fieldset>
            <fieldset class="">
                <legend>Dados do relatório</legend>
                <div>
                    <label>Nota de liquidação:</label>
                    <input type="text" name="nota" title="Informe o número da Nota de Liquidação referente ao relatório." value="{{ nota }}" />
                </div>
                <div class="coluna2">
                    <label>Data de liberação:</label>
                    <input type="text" class="data" name="liberacao" title="Informe a data de liberação dos recursos." value="{{ liberacao }}" />
                </div>
                <div class="coluna2">
                    <label>Data de vigência:</label>
                    <input type="text" class="data" name="vigencia" title="Informe a data de vigência dos recursos." value="{{ vigencia }}" />
                </div>
            </fieldset>
            <fieldset class="">
                <legend>Dados do relatório</legend>
                <div class="coluna3">
                    <label>Rubrica:</label>
                    <select name="rubrica" title="Selecione o tipo de rubrica relativa aos recursos oriundos da Nota de Liquidação.">
                        {% for item in rubricaSelect %}
                        <option value="{{ item.value }}" {% if item.value == rubrica %} selected="selected" {% endif %}>{{ item.text }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="coluna3c">
                    <label>Valor NL:</label>
                    <input type="text" id="valor" name="valor" class="dinheiro" title="Informe o montante total relativo à Nota de Liquidação." value="{{ valor }}" />
                </div>
            </fieldset>
            <div>
                <input type="submit" value="Salvar" />
            </div>
        </form>
    </div><!-- #main-content -->
</div><!-- #content -->
{% endblock %}
