<script type="text/javascript">
    jQuery(function($){
        $(".data").mask("99/99/9999");
        $(".dinheiro").priceFormat({ prefix: "", centsSeparator: ",", thousandsSeparator: "." });
        $("#quantidade").priceFormat({ prefix: "", centsSeparator: ",", thousandsSeparator: ".", centsLimit: 3 });
    });
    function calcula() {
        $("#total").val(Math.round($("#quantidade").val().replace(/[^0-9]+/g,"") * $("#unitario").val().replace(/[^0-9]+/g,"") / 1000)).priceFormat({prefix: "", centsSeparator: ",", thousandsSeparator: "."});
    }
    $(document).ready(function(){
        $(".trigger").keyup(function(){
            calcula();
        });
        $("form").validate({
            rules: {
                descricao: "required",
                unidade: "required",
                quantidade: "required",
                unitario: "required",
                total: "required",
                documento: "required",
                data: "required",
                comprovante: "required"
            },
            messages: {
                descricao: "Digite a descrição",
                unidade: "Digite a unidade",
                quantidade: "Digite a quantidade",
                unitario: "Digite o valor unitário",
                total: "Digite o valor total",
                documento: "Digite o documento fiscal/recibo",
                data: "Digite a data",
                comprovante: "Digite o comprovante"
            }
        });
    });
</script>
<form class="" action="{{ action }}" method="POST">
    <fieldset>
        <div>
            <label>Fornecedor:</label>
            <select name="fornecedor">
                {% for item in fornecedores %}
                <option value="{{ item.idFornecedor }}" {% if item.idFornecedor == fornecedor.idFornecedor %} selected="selected" {% endif %}>{{ item.nome }} - {{  item.cadastro }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Descrição:</label>
            <input type="text" name="descricao" title="Descrição do serviço a ser empenhado, conforme recibo ou documento fiscal." value="{{ descricao }}"/>
        </div>
        <div class="coluna2">
            <label>Unidade:</label>
            <input type="text" name="unidade" title="Informe a unidade de quantificação do serviço (ex: mês, horas, dias, etc)." value="{{ unidade }}" />
        </div>
        <div class="coluna2">
            <label>Quantidade:</label>
            <input type="text" name="quantidade" id="quantidade" class="trigger" title="Informe a quantidade de serviços adquiridos." value="{{ quantidade }}"/>
        </div>
        <div class="coluna2">
            <label>Valor unitário: (R$)</label>
            <input type="text" name="unitario" id="unitario" class="dinheiro trigger" title="Informe o valor unitário do serviço." value="{{ unitario }}" />
        </div>
        <div class="coluna2">
            <label>Valor total: (R$)</label>
            <input type="text" name="total" id="total" class="dinheiro" title="Informe o valor total do serviço, conforme recibo ou documento fiscal." value="{{ total }}"/>
        </div>
        <div class="coluna3">
            <label>Documento fiscal / Recibo:</label>
            <input type="text" name="documento" title="Informe o número do recibo ou documento fiscal." value="{{ documento }}"/>
        </div>
        <div class="coluna3">
            <label>Nº de Série:</label>
            <input type="text" name="serie" title="Informe o número de série." value="{{ serie }}"/>
        </div>
        <div class="coluna3">
            <label>Nº de Sub-Série:</label>
            <input type="text" name="subserie" title="Informe o número de sub-série." value="{{ subserie }}"/>
        </div>
        <div class="coluna2">
            <label>Data de emissão:</label>
            <input type="text" name="data" class="data" title="Informe a data de emissão do recibo ou documento fiscal." value="{{ data }}" />
        </div>
        <div class="coluna2">
            <label>Comprovante de transação:</label>
            <input type="text" name="comprovante" title="Informe o número do cheque o comprovante eledivônico de divansação." value="{{ comprovante }}"/>
        </div>
    </fieldset>
    <div>
        <input type="submit" value="Salvar" />
    </div>
</form>