{% extends "FapescTutorialBundle:Fapesc:info.html.twig" %}

{% block content %}
<script type="text/javascript">
    $().ready(function() {
        $("form").validate({
            rules: {
                justificativa: "required",
            },
            messages: {
                justificativa: "Digite a justificativa",
            }
        });
    });
</script>
<div id="content">
    <div id="sidebar">
        <p><b>Instruções:</b><br /><br />A cada novo relatório de prestação de contas, faz-se necessário atualizar o status do Plano de Metas do projeto.<br /><br />O estado atual de uma meta pode assumir as seguintes condições: "Não alcançado", "Parcialmente alcançado" ou "Plenamente alcançado".<br /><br />Caso a conclusão de uma meta esteja prevista à frente do tempo presente, esta deverá ser marcada como "não alcançada" e sua justificativa definida como "Atividade em desenvolvimento".<br /><br />Observação: Caso necessite editar a descrição de uma meta, acesse o link "Meus Projetos" (vide cabeçalho do site), selecione o título do projeto em questão e, sem seguida, clique na aba "Plano de Metas".</p>
    </div><!-- #sidebar -->
    <div id="main-content">
        <form class="" action="{{ path('relatorioMetaPost', { 'idRelatorio': idRelatorio, 'idMeta': id }) }}" method="POST">
            <fieldset class="">
                <legend>Plano de Metas</legend>
                <div>
                    <label>Meta:</label>
                    <input type="text" readonly="readonly" value="{{ meta }}" />
                </div>
                <div>
                    <label>Resultado:</label>
                    <select name="resultado" title="Informe o estado de desenvolvimento da meta/objetivo.">
                        {% for item in resultadoSelect %}
                        <option value="{{ item.value }}" {% if item.value == resultado %} selected="selected" {% endif %}>{{ item.text }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Justificativa:</label>
                    <textarea name="justificativa" title="Comente e justifique os resultados alcaçados. Obrigatório para metas definidas como NA e PR.">{{ justificativa }}</textarea>
                </div>
            </fieldset>
            <div>
                <input type="submit" value="Salvar"/>
            </div>
        </form>					
    </div><!-- #main-content -->			
</div><!-- #content -->
{% endblock %}