{% extends "FapescTutorialBundle:Fapesc:info.html.twig" %}

{% block title "Relatório Técnico - Informações Gerais" %}

{% block content %}
<script type="text/javascript">
    $().ready(function() {
        $("form").validate({
            rules: {
                resultado: "required",
                justificativa: "required",
                dificuldade: "required",
            },
            messages: {
                resultado: "Digite o resultado",
                justificativa: "Digite a justificativa",
                dificuldade: "Digite a dificuldade",
            }
        });
    });
</script>
<div id="content">
    <div id="sidebar">
        <p><b>Instruções:</b><br /><br />O Relatório Técnico pode ser "PARCIAL", se ainda existirem recursos de capital ou custeio para serem empenhados dendivo do cronograma do projeto, ou "FINAL", se a Nota de Liberação a que se refere o presente Relatório Técnico encerra o orçamento do projeto.<br /><br />No relatório parcial, os campos devem ser preenchidos apenas no âmbito da aplicação dos recursos disponibilizados pela Nota de Liberação em questão.</p>
    </div><!-- #sidebar -->
    <div id="main-content">
        <form class="" action="{{ path('relatorioRelatorioPost', { 'idRelatorio': idRelatorio }) }}" method="POST">
            <fieldset class="">
                <legend>Relatório Técnico</legend>
                <div>
                    <label>Resultados alcançados (até 1000 caracteres):</label>
                    <textarea name="resultado">{{ resultado }}</textarea>
                </div>
                <div>
                    <label>Os equipamentos e demais itens de capital previstos no plano de trabalho, foram adquiridos? Caso negativo, justifique:</label>
                    <textarea name="justificativa">{{ justificativa }}</textarea>
                </div>
                <div>
                    <label>Descreva as principais dificuldades enfrentadas quando da execução do projeto:</label>
                    <textarea name="dificuldade">{{ dificuldade }}</textarea>
                </div>
                <div>
                    <label>Houve alteração na equipe do projeto? Caso afirmativo, especifique as mudanças:</label>
                    <textarea name="alteracao">{{ alteracao }}</textarea>
                </div>
            </fieldset>				
            <div>
                <input type="submit" value="Salvar" />
            </div>
        </form>					
    </div><!-- #main-content -->			
</div><!-- #content -->
{% endblock %}
