{% extends "FapescTutorialBundle:Fapesc:info.html.twig" %}

{% block title "TC28" %}

{% block content %}
<div id="content">
				
			
	<div id="">
		<p><!-- parágrafo principal -->		
		<h1>:: Balancete TC28</h1>
		
		<div id="conteudo-margem" style="margin-right:100px;">
		<p>O Balancete TC28 é documento integrante da prestação de contas e, por determinação da Secretaria de Estado da Fazenda de Santa Catarina, <strong>deve ser gerado e impresso em ambiente externo a este sistema de auxílio de prestação de contas</strong>, sendo posteriormente encartado no relatório impresso por este gerado. Dado tal situação, recomenda-se bastante atenção em seu preenchimento.</p>
		<p><strong>Observação:</strong> para acesso ao sistema da Sec. da Fazenda, recomenda-se uso dos navegadores Internet Explorer (versão 7.0 ou superior) ou Mozilla Firefox (versão 6.0 ou superior), <strong>bem como a desativação do bloqueio de “popups”.</strong></p>
		<p>As informações fornecidas nas instruções de 1 à 4 devem estar concernentes com os dados constantes no e-mail/carta de <strong>Comunicação de Pagamento</strong>, enviado pela FAPESC ao coordenador do projeto.</p> 
		<p>
			<ol>
				<li>Acesse o endereço do sistema TC28 <a href="http://sistemas.sc.gov.br/sef/anexo_tc28/default.asp">aqui</a></li>
				<li>No campo <strong>“Orgão / Unidade Orçamentária”</strong>, entre com o valor <strong>“270024”</strong> (sem aspas).</li>
				<li>No campo <strong>“Código de Gestão”</strong>, entre com o valor <strong>“001”</strong> (sem aspas).</li>
				<li>No campo <strong>“Número da Nota de Liquidação”</strong>, entre com o valor <strong><!--sistema-->"{{ nota }}"</strong> (sem aspas) e o ano de liberação dos recursos. Ainda, confirme o ano de execução dos recursos em <strong>“Ano exercício”</strong>.</li>
				<li>No campo <strong>“Quantidade de Documentos Comprobatórios”</strong>, entre com o valor <strong><!--sistema--> "{{ calculo  }}"</strong> (sem aspas).</li>
				<li>Clique no botão <strong>“enviar”</strong>.</li>
				
				<li>Cada dispêndio executado a partir de recursos da Nota de Liberação ou, ainda, de contrapartida da instituição proponente, deverá ser registrado no formulário do Balancete TC28 utilizando a seguinte regra:
<p><strong>Nome do fornecedor - Breve descrição dos itens adquiridos - Origem do recurso (FAP, para FAPESC ou CP, para contrapartida)</strong></p>

<p>Ex:</p>

<p>Casa do Pesquisador LTDA - reagentes - FAP
Vidros e Coisas ME - vidraria - CP</p></li>
				<li>Observado a ordem apresentada (do dispêndio mais antigo ao mais atual), <strong>copie e cole as informações abaixo para os respectivos campos do formulário TC28:</strong>

			
				<table id="goals" class="form" width="90%">
					<tr>
						<th width="9%"></th>
						<th width="9%"></th>
						<th width="9%"></th>
						<th width="9%"></th>
						<th width="9%"></th>
						<th width="22.5%"></th>
						<th width="22.5%"></th>
						<th width="15%" ></th>
					</tr>


					<tr>
						<td style="text-align:center;" colspan="5"> Responsável </td>
						<td style="text-align:left;" colspan="3">{{ coordenador }}</td>
					</tr>
					<tr>
						<td style="text-align:center;" colspan="5"> CPF </td>
						<td style="text-align:left;" colspan="3">{{ cpf }}</td>
					</tr>
					<tr>
						<td style="text-align:center;" colspan="8"></td>
					</tr>

					<tr>
						<td style="text-align:center;" colspan="5"> Data </td>
						<td style="text-align:center;" colspan="2"> Histórico </td>
						<td style="text-align:center;"> Recebimento </td>
					</tr>
					<tr>
						<td style="text-align:center;" colspan="5"> ------- </td>
						<td style="text-align:left;" colspan="2"> Valor Recebido </td>
						<td style="text-align:right;"> {{ valorNL }} </td>
					</tr>
					<tr>
						<td style="text-align:center;" colspan="5"> {{ dataEmissao }} </td>
						<td style="text-align:left;" colspan="2"> Rendimentos de Aplicação </td>
						<td style="text-align:right;"> (ver instruções) </td>
					</tr>
					<tr>
						<td style="text-align:center;" colspan="5"> {{ data1aCP }} </td>
						<td style="text-align:left;" colspan="2"> Contrapartida </td>
						<td style="text-align:right;"> {{ totalCP }} </td>
					</tr>
					<tr>
						<td style="text-align:center;" colspan="8"></td>
					</tr>

					<tr>
						<td style="text-align:center;"> No. Nota </td>
						<td style="text-align:center;"> No. Série </td>
						<td style="text-align:center;"> No. Sub-Série </td>
						<td style="text-align:center;"> Data </td>
						<td style="text-align:center;"> CPF/CPNJ </td>
						<td style="text-align:center; overflow:hidden;"  colspan="2"> Histórico </td>
						<td style="text-align:center;"> Pagamentos </td>
					</tr>
					{% for item in tc28 %}
					<tr>

						<td style="text-align:center;">{{ item.num }}</td>
						<td style="text-align:center;">{{ item.serie }}</td>
						<td style="text-align:center;">{{ item.subSerie }}</td>
						<td style="text-align:center;">{{ item.data }}</td>
						<td style="text-align:center;">{{ item.cpf }}</td>
						<td style="text-align:left; overflow:hidden;"  colspan="2">{{ item.historico }}</td>
						<td style="text-align:right;">{{ item.pagamento }}</td>
					</tr>
					{% endfor %}

					<tr>
						<td style="text-align:center;" colspan="8"></td>
					</tr>
					<tr>
						<td style="text-align:center;" colspan="2"> Local </td>
						<td style="text-align:center;" colspan="2"> Data TC28 </td>
						<td style="text-align:center;" colspan="2"> Titular da Unidade Gestora </td>
						<td style="text-align:center;" colspan="2"> Contador / Técnico em contabilidade </td>
					</tr>
					<tr>
						<td style="text-align:center;" colspan="2"> {{ local }} </td>
						<td style="text-align:center;" colspan="2"> (ver instruções) </td>
						<td style="text-align:center;" colspan="2"> {{ coordenador }} </td>
						<td style="text-align:center;" colspan="2"> (ver instruções) </td>
					</tr>
				</table>		

			
			</li>
			
				
			</ol>

			<h3>Observações:</h3>			
			<ul>
				<li>Os dispêndios devem ser listados em ordem cronológica, do mais antigo ao mais recente;</li>
				<li>Para dispêndios associados à aquisição de bens e/ou serviços, inclua o número do respectivo documento comprobatório (nota fiscal, bilhete de passagem, etc);</li>
				<li>Em “rendimento da aplicação”, entre com o valor informado no comprovante de rendimentos da aplicação dos recursos. Se não existirem rendimentos, lance o campo como “0,00” (sem aspas);</li>
				<li>Caso não se aplique contrapartida ao projeto, lance o campo como “0,00” (sem aspas);</li>
				<li>A última linha a ser lançada deve se referir à devolução dos recursos remanescentes (se houver);</li>
			</ul>
		</p> 
		</div><!--conteudo-margem-->
		</p><!-- parágrafo principal -->
	</div><!-- #main-content -->
	
</div><!-- #content --> 
{% endblock %}
