{% extends "FapescTutorialBundle:Fapesc:info.html.twig" %}

{% block title "Dados do Projeto" %}

{% block content %}
<script type="text/javascript">
    jQuery(function($){
    $("#contrato").mask("99999/9999-9");
        $(".data").mask("99/99/9999");
        $('#orcamento').priceFormat({ prefix: '', centsSeparator: ',', thousandsSeparator: '.' });
    });
    $().ready(function() {
        $("form").validate({
            rules: {
                contrato: "required",
                titulo: "required",
                chamada: "required",
                area: "required",
                inicio: "required",
                termino: "required",
                orcamento: "required",
                conta: "required",
                agencia: "required"
            },
            messages: {
                contrato: "Digite o termo de outorga",
                titulo: "Digite o título",
                chamada: "Digite a chamada",
                area: "Digite a área do conhecimento",
                inicio: "Digite a data de início",
                termino: "Digite a data de término",
                orcamento: "Digite o orçamento",
                conta: "Digite a conta",
                agencia: "Digite a agência"
            }
        });
    });
</script>
<div id="content">
    <div id="sidebar">
        <p><b>Instruções:</b><br /><br />As informações gerais para um determinado projeto (título, área do conhecimento, região de aplicação, etc) devem ser as mesmas que foram informadas na proposta de trabalho aprovada pela FAPESC.<br /><br /> Para preenchimento dos campos "Contrato FAPESC", "Orçamento total", "Data de ínício" e "Data de Término" consulte o e-mail "Comunicado de Repasse", enviado pela Gerência de Projetos da FAPESC ao coordenador de projeto, quando da liberação dos recursos.</p>
    </div><!-- #sidebar -->
    <div id="main-content">
        <form class="" action="{{ path('projetoDadosPost', { 'idProjeto': idProjeto }) }}" method="POST">
            <fieldset class="">
                <legend>Dados do projeto</legend>
                <div class="coluna2">
                    <label for="contrato">Termo de Outorga:</label>
                    <input type="text" id="contrato" name="contrato" value="{{ contrato }}" title="Aqui, insira apenas números." />
                </div>
                <div class="coluna2">
                    <label for="chamada">Chamada:</label>
                    <input type="text" id="chamada" name="chamada" value="{{ chamada }}" title="Entre com o nome completo da chamada, sem abreviaturas." />
                </div>
                <div>
                    <label for="titulo">Título do projeto:</label>
                    <input type="text" id="titulo" name="titulo" value="{{ titulo }}" title="Entre com o título do projeto, sem abreviaturas." />
                </div>
            </fieldset>
            <fieldset class="">
                <legend>Dados do projeto</legend>
                <div>
                    <label for="area">Área do conhecimento / Sub-área:</label>
                    <input type="text" id="area" name="area" title="Informe a área do conhecimento relativa ao projeto" value="{{ area }}" />
                </div>
                <div class="coluna3">
                    <label for="municipio">Localização (Município):</label>
                    <select id="municipio" name="municipio" title="Selecione o nome do município ou distrito.">
                        {% for item in municipioSelect %}
                        <option value="{{ item.value }}" {% if item.value == municipio %} selected="selected" {% endif %}>{{ item.text }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="coluna3">
                    <label for="regiao">Região (IBGE):</label>
                    <select id="regiao" name="regiao" title="Selecione o nome da região de abrangência.">
                        {% for item in regiaoSelect %}
                        <option value="{{ item.value }}" {% if item.value == regiao %} selected="selected" {% endif %}>{{ item.text }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="coluna3">
                    <label for="sdr"><abbr title="Secretaria de Desenvolvimento Regional">SDR</abbr>:</label>
                    <select id="sdr" name="sdr" title="Selecione o nome da SDR de abrangência.">
                        {% for item in sdrSelect %}
                        <option value="{{ item.value }}" {% if item.value == sdr %} selected="selected" {% endif %}>{{ item.text }}</option>
                        {% endfor %}
                    </select>
                </div>
            </fieldset>
            <fieldset class="">
                <legend>Dados do projeto</legend>
                <div class="coluna3">
                    <label for="inicio">Data de início:</label>
                    <input type="text" id="inicio" name="inicio" class="data" value="{{ inicio }}" title="Informe a data de início das atividades." />
                </div>
                <div class="coluna3">
                    <label for="termino">Data de término:</label>
                    <input type="text" id="termino" name="termino" class="data" value="{{ termino }}" title="Informe a data de término das atividades." />
                </div>
                <div class="coluna3">
                    <label for="orcamento">Orçamento total do projeto:</label>
                    <input type="text" id="orcamento" name="orcamento" class="dinheiro" value="{{ orcamento }}" title="Informe o valor total do orçamento do projeto, incluindo todo os intervenientes." />
                </div>
            </fieldset>
            <fieldset class="">
                <legend>Dados do projeto</legend>
                <div class="coluna3">
                    <label for="banco">Banco:</label>
                    <select id="banco" name="banco" title="Informe o número do banco.">
                        {% for item in bancoSelect %}
                        <option value="{{ item.value }}" {% if item.value == banco %} selected="selected" {% endif %}>{{ item.text }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="coluna3">
                    <label for="conta">Conta:</label>
                    <input type="text" id="conta" name="conta" value="{{ conta }}" title="Informe o número da conta do bolsista." />
                </div>
                <div class="coluna3">
                    <label for="agencia">Agência:</label>
                    <input type="text" id="agencia" name="agencia" value="{{ agencia }}" title="Informe o número da agência do bolsista." />
                </div>
            </fieldset>
            <div>
                <input type="submit" value="Salvar" />
            </div>
        </form>
    </div><!-- #main-content -->
</div><!-- #content -->
{% endblock %}